{% extends 'main_app/base.html' %}
{% comment %} Loading CSS before rendering the page {% endcomment %}
{% comment %} {% load static %} {% endcomment %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}

  {% comment %} defining Staticfiles and Design {% endcomment %}
  {% comment %} Staticfiles are defined under Installed Apps in settings.py {% endcomment %}
  {% comment %} <link rel="stylesheet" href="{% static 'main_app/style.css' %}"> {% endcomment %}

  {% comment %} Importing Tailwind without installation {% endcomment %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> {% endcomment %}

  {% comment %} <title>Start-Page</title>
</head>
<body> {% endcomment %}


{% block body %}
<div class="w-1/2 mx-auto">
    {% for item in item_list %}
    <div class="m-10 grid grid-cols-[12rem_12rem_auto] items-center gap-6">
        <img class="w-48 h-48 object-cover rounded-lg" src="{{ item.item_image.url }}" alt="{{ item.item_name }}">

        <div>
            <div class="font-bold">{{ item.item_name }}</div>
            <div>{{ item.item_desc }}</div>
            <div class="text-green-700 font-bold">${{ item.item_price }}</div>
        </div>

        <a class="bg-red-500 text-white font-bold px-4 py-2 rounded-md whitespace-nowrap justify-self-start" href="{% url 'main_app:detail' item.id %}">View Details</a>
    </div>
    {% endfor %}
</div>
{% endblock %}


  {% comment %} <ul>

    <li> {% endcomment %}
    {% comment %} <a href="/main_app/{{item.id}}"> {% endcomment %}
    {% comment %} wenn URL einen Namen hat, kann der Name verwendet werden {% endcomment %}
    {% comment %} bei Anpassung der URL, müssen keine Templates angepasst werden {% endcomment %}
    {% comment %} NameSpacing falls detail in anderen Apps verwendet wird {% endcomment %}

        {% comment %} <img src="{{ item.item_image.url }}" alt="{{ item.item_name }}">
      {{ item.item_name }} -> {{ item.item_price }} -> {{ item.item_desc }}
      </a>
    </li>

  </ul> {% endcomment %}


{% comment %} </body>
</html> {% endcomment %}
